<header
  class="w-full top-0 sticky bg-surface border-b border-outline-variant z-50 flex items-center justify-between px-margin-desktop h-16">
  <div class="flex items-center gap-4">
    <span class="material-symbols-outlined text-primary text-2xl" data-icon="architecture">architecture</span>
    <div class="flex flex-col">
      <h1 class="font-headline-sm text-headline-sm font-bold text-primary">Project: Metro-Bridge-2024</h1>
      <span class="font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">Structural /
        Foundation</span>
    </div>
  </div>
  <nav class="hidden md:flex items-center gap-8">
    <a 
      class="text-on-surface-variant hover:bg-secondary-container transition-colors px-3 py-1 rounded cursor-pointer" 
      routerLink="home" 
      routerLinkActive="text-primary font-bold transition-colors cursor-pointer active:opacity-80">Home
    </a>
    <a 
      class="text-on-surface-variant hover:bg-secondary-container transition-colors px-3 py-1 rounded cursor-pointer"  
      routerLink="about" 
      routerLinkActive="text-primary font-bold transition-colors cursor-pointer active:opacity-80">About Us
    </a>
    <a 
      class="text-on-surface-variant hover:bg-secondary-container transition-colors px-3 py-1 rounded cursor-pointer"
      routerLink="cad-workspace"
      routerLinkActive="text-primary font-bold transition-colors cursor-pointer active:opacity-80">Workspace
    </a>
    <a 
      class="text-on-surface-variant hover:bg-secondary-container transition-colors px-3 py-1 rounded cursor-pointer"
      routerLink="than-cad"
      routerLinkActive="text-primary font-bold transition-colors cursor-pointer active:opacity-80">ThanCAD
    </a>
    <a 
      class="text-on-surface-variant hover:bg-secondary-container transition-colors px-3 py-1 rounded cursor-pointer"
      routerLink="skyciv-renderer"
      routerLinkActive="text-primary font-bold transition-colors cursor-pointer active:opacity-80">SkyCiv
    </a>
    <a 
      class="text-on-surface-variant hover:bg-secondary-container transition-colors px-3 py-1 rounded cursor-pointer"
     routerLink="login"
     routerLinkActive="text-primary font-bold transition-colors cursor-pointer active:opacity-80">Register
    </a>
    <a 
      class="text-on-surface-variant hover:bg-secondary-container transition-colors px-3 py-1 rounded cursor-pointer"
      routerLink="contact"
      routerLinkActive="text-primary font-bold transition-colors cursor-pointer active:opacity-80">Contact
    </a>
  </nav>
  <div class="flex items-center gap-4">
    <!-- <button class="material-symbols-outlined text-on-surface-variant p-2 hover:bg-secondary-container rounded-full"
      data-icon="search">search</button> -->
    <div
      class="w-10 h-10 rounded-full border border-outline-variant overflow-hidden cursor-pointer active:opacity-80 bg-surface-container">
      <img class="w-full h-full object-cover"
        data-alt="A professional portrait of a civil engineer in a light-filled modern office environment. The image is crisp and bright, with a shallow depth of field. Soft sunlight reflects off clean glass surfaces in the background, creating a high-end corporate atmosphere. The person wears business casual attire, embodying precision and leadership."
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuBYuvuey2aVdRh7_jlK6TuFDs54UXB2TthHyjHTdN-El-ZLhb2nEHG4kfl9x1IkLGH2YnSOgY4PiRfq2UcS-_gKLPI9gYtueGfdZW5Lsx5zL55rIGsxfcvBA39FTDXeoAZG856PWbv3rOaJyvoK08Lnuqd5CeyzJ4FIbmaIU6bj9IorFfvPZN19eHLWUBgcqHw4b867u-3ri9Cnoe8s7owGl7eI5jUe5qpiqNeRO3s9uFJGRTNZK6JqRNUFE9VHx6eO7ROmBfg6CBk" />
    </div>
  </div>
</header>
